.profile-title {
    --background: #ffd534;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    --padding-end: 5px;
}

.profile-item {
    --padding-bottom: 20px;
    --padding-top: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}

.profile-badge{
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}
