.store-title {
    --background: #ffd534;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    --padding-end: 5px;
}

.store-card {
    border-top: 3px solid #ffd534;
    border-bottom: 3px solid #ffd534;
    border-radius: 5px;
}

.store-card-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-description {
    --padding-bottom: 10px;
    --padding-top: 20px;
    --padding-start: 20px;
}

.store-pic {
    --size: 100px
}